# Unit 1 Python Fundamentals

In [1]:
#my first python program
print("Namste CKPCET")

Namste CKPCET

In [2]:
print("Hello Surat")

Hello Surat

In [3]:
print("hello")

hello

In [4]:
a=33

In [5]:
print(a)

33

In [6]:
a

33

In [7]:
a = 5
b= 5.5
c = "hello"
d = True
print(a)
print(b)
print(c)
print(d)

5
5.5
hello
True

In [8]:
type(b)

float

In [9]:
type(a)

int

In [10]:
type(c)

str

In [11]:
type(d)

bool

In [12]:
a=5
b=56.5
c="hello"
d=True
e=56
f='hi'
g="hey"
h=False
i=98.33
print("Type of a",type(a))
print("Type of b",type(b))
print("Type of c",type(c))
print("Type of d",type(d))
print("Type of e",type(e))
print("Type of f",type(f))
print("Type of g",type(g))
print("Type of h",type(h))
print("Type of i",type(i))

Type of a <class 'int'>
Type of b <class 'float'>
Type of c <class 'str'>
Type of d <class 'bool'>
Type of e <class 'int'>
Type of f <class 'str'>
Type of g <class 'str'>
Type of h <class 'bool'>
Type of i <class 'float'>

In [13]:
x=int(input("Enter the value of x: "))
y=int(input("Enter the value of y: "))
print("Sum =",x+y)
print("multiplication =",x*y)
print("division =",x/y)
print("Subtraction =",x-y)

Enter the value of x: 5
Enter the value of y: 6
Sum = 11
multiplication = 30
division = 0.8333333333333334
Subtraction = -1

In [14]:
str1=input("Enter your first Name:-")
str2=input("Enter your Middle Name:-")
str3=input("Enter your Last Name:-")
print("Your First Name =",str1)
print("Your Middle Name=",str2)
print("Your Last Name =",str3)
print("Your Full Name is",str1,str2,str3)
print("Length Of first Name is",len(str1))
print("Length Of Middle Name is",len(str2))
print("Length Of Last Name is",len(str3))

Enter your first Name:-Modi
Enter your Middle Name:-Parth
Enter your Last Name:-Milankumar
Your First Name = Modi
Your Middle Name= Parth
Your Last Name = Milankumar
Your Full Name is Modi Parth Milankumar
Length Of first Name is 4
Length Of Middle Name is 5
Length Of Last Name is 10

In [28]:
str1[0:3]

'Mod'

In [30]:
str2[0:3]

'Par'

In [33]:
str3[2:4]

'la'

# Tuple

In [37]:
tup1=("hello",67,"hi",'hey',89.3)
print(tup1)
type(tup1)

('hello', 67, 'hi', 'hey', 89.3)

tuple

In [39]:
tup1[4]

89.3

In [41]:
tup1[3:5]

('hey', 89.3)

# List

In [68]:
list1=["hello",89,'jj',89.36,"jengo"]
list1

['hello', 89, 'jj', 89.36, 'jengo']

In [75]:
list1.append("ee")
list1.insert(1,"ee")
print(list1)
len(list1)

['hello', 'ee', 'ee', 'ee', 'ee', 'ee', 'ee', 89, 'jj', 89.36, 'jengo', 'ee', 'ee', 'ee', 'ee', 'ee', 'ee', 'ee']

18

In [77]:
list1.remove("ee")

In [79]:
list1

['hello',
 'ee',
 'ee',
 'ee',
 'ee',
 89,
 'jj',
 89.36,
 'jengo',
 'ee',
 'ee',
 'ee',
 'ee',
 'ee',
 'ee',
 'ee']

In [82]:
list1.remove('jengo')

ValueError: list.remove(x): x not in list

In [86]:
list1.remove('jj')

ValueError: list.remove(x): x not in list

In [88]:
print(list1)

['hello', 'ee', 'ee', 'ee', 'ee', 89, 89.36, 'ee', 'ee', 'ee', 'ee', 'ee', 'ee', 'ee']

# Dictionary

dis1={1:"jengo",2:56,3:"Surat"}
dis1

In [92]:
print(type(dis1))

<class 'dict'>

In [94]:
print(len(dis1))

3

In [98]:
dis1.keys()

dict_keys([1, 2, 3])

# If else Statement

In [101]:
x=int(input("Enter Any Number:-"))
if x>0 :
    print("Number is positive")
else:
    print("Number is Negative")

Enter Any Number:--5
Number is Negative